pipeline/PL_incremental_raw_ingestion.json
{
	"name": "PL_incremental_raw_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Copy_azure_sql_to_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_cdc_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current_time_stamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.Schema_Name, '.', pipeline().parameters.Table_Name,\n    ' WHERE ',\n    pipeline().parameters.cdc_col, ' > ''',\n    if(\n        or(\n            equals(pipeline().parameters.from_date, ''),\n            equals(pipeline().parameters.from_date, null)\n        ),\n        activity('lkp_cdc_date').output.firstRow.cdc,\n        pipeline().parameters.from_date\n    ),\n    ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@{pipeline().parameters.Table_Name}_cdc",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.Table_Name,'_',variables('current_time'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "lkp_cdc_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@{pipeline().parameters.Table_Name}_cdc",
								"type": "Expression"
							},
							"file": "cdc.json"
						}
					}
				}
			},
			{
				"name": "current_time_stamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_time",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If incremnatl data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy_azure_sql_to_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy_azure_sql_to_adls').output.dataRead,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete empty",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@{pipeline().parameters.Table_Name}_cdc",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(pipeline().parameters.Table_Name,'_',variables('current_time'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Ls_azure_sql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select MAX(@{pipeline().parameters.cdc_col}) as cdc from @{pipeline().parameters.Schema_Name}.@{pipeline().parameters.Table_Name}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "update_last_cdc_date",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc\n",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@{pipeline().parameters.Table_Name}_cdc",
											"type": "Expression"
										},
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": "@{pipeline().parameters.Table_Name}_cdc",
										"file": "cdc.json"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If incremnatl data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-11.westus3.logic.azure.com:443/workflows/9f163edacd6e49d3a8ce28cde1519fda/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=QDfeIEC4RJRPRI_oQ0ORtjwvL3xGJCdNqHVx_fjnDZQ",
					"body": {
						"value": "@concat(\n    '{',\n       '\"pipeline_name\": \"', pipeline().Pipeline, '\",',\n       '\"pipeline_runid\": \"', pipeline().RunId, '\"',\n    '}'\n)\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Schema_Name": {
				"type": "string"
			},
			"Table_Name": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}